listen = "[::]:1079"
listen_mode = "tls"
metrics_endpoint = "[::]:1080"
database_url = "postgresql://postgres:admin@localhost"
asn = 4294967000

bypass_rbac = true

attestation_enabled = false

initial_domain_name = "local.forge"
initial_dpu_agent_upgrade_policy = "off"

[pools.lo-ip]
type = "ipv4"
ranges = [{ start = "10.180.62.1", end = "10.180.62.62" }]

[pools.vlan-id]
type = "integer"
ranges = [{ start = "100", end = "501" }]

[pools.vni]
type = "integer"
ranges = [{ start = "1024500", end = "1024550" }]

[pools.vpc-vni]
type = "integer"
ranges = [{ start = "2024500", end = "2024550" }]

[networks.admin]
type = "admin"
prefix = "192.168.252.0/24"
gateway = "192.168.252.1"
mtu = 9000
reserve_first = 5


[host_health]
hardware_health_reports = "MonitorOnly"

[firmware_global]
autoupdate = true

[tls]
identity_pemfile_path = "dev/certs/localhost/localhost.crt"
identity_keyfile_path = "dev/certs/localhost/localhost.key"
root_cafile_path = "dev/certs/localhost/ca.crt"
admin_root_cafile_path = "dev/certs/forge_root.pem"

[auth]
permissive_mode = true

[auth.trust]
spiffe_trust_domain = "forge.local"
spiffe_service_base_paths = ["/forge-system/sa/", "/default/sa/"]
spiffe_machine_base_path = "/forge-system/machine/"
additional_issuer_cns = []

# [machine_state_controller]
# failure_retry_time = "45m"

[network_security_group]
# Controls whether additional config to support
# stateful/reflexive ACLs will be inserted into
# the HBN config.
# This is expected to remain off at least until all sites
# are running HBN 2.3 or higher.  The reflexive-acl
# implementation in earlier versions exposes a way for
# users to accidentally permit-all in both directions
# with a single rule in one direction.
stateful_acls_enabled = false

# Maximum number of security groups rules
# after they are expanded:
# src port range * dst port range * src prefix list * dst prefix list
# NOTE: There is also a hard-limit in the
# DPU agent of 10k (as of the time of this
# comment) to protect it misconfig in
# site-controller.
max_network_security_group_size = 200

# Enable Machine Validation feature and enable all tests
[machine_validation_config]
enabled = false
test_selection_mode = "EnableAll"

[networks.DEV-K3S-DPU-NO-DPU-DOES-NOT-ACTUALLY-EXIST]
type = "underlay"
prefix = "192.168.2.0/26"
gateway = "192.168.2.1"
mtu = 1500
reserve_first = 2

[networks.DEV-K3S-DPU-no-dpu-0-1]
type = "underlay"
prefix = "192.168.169.56/29"
gateway = "192.168.169.57"
mtu = 1500
reserve_first = 2

[networks.DEV-K3S-X86-BMC-UNDERLAY-NO-DPU-DOES-NOT-ACTUALLY-EXIST]
type = "underlay"
prefix = "192.168.2.144/30"
gateway = "192.168.2.145"
mtu = 1500
reserve_first = 2

# [machine_state_controller.controller]
# iteration_time = "10s"

[machine_state_controller]
dpu_wait_time = "5s"   # randomly chosen (fchua)
power_down_wait = "5s" # randomly chosen (fchua)
iteration_time = "10s"

[network_segment_state_controller]
network_segment_drain_time = "60s"
[network_segment_state_controller.controller]
iteration_time = "10s"

[ib_partition_state_controller.controller]
iteration_time = "120s" # Unlikely to be supported for K3S

[site_explorer]
enabled = true
create_machines = true
allow_changing_bmc_proxy = true
bmc_proxy = ":2000"
run_interval = "10s"
allow_zero_dpu_hosts = true
